.detail-form {
    margin: 2rem 0;

    .form-group {
        
        input {
            padding: 2rem 1rem !important;
        }
    }

    .form-control {
        border-radius: 10px;
    }

    .btn-submit {
        border-radius: 10px;
        display: block !important; 
        margin-top: 2rem;

        .pushAside {
            display: block !important; 
            justify-content: center !important;
            margin-left: none !important;
        }
    }
}