.detail-form {
    margin: 2rem 0;

    .form-group {
        
        input {
            padding: 2rem 1rem !important;
        }
    }

    .form-control {
        border-radius: 10px;
    }

    .btn-submit {
        border-radius: 10px;
        display: block !important; 
        margin-top: 2rem;

        .pushAside {
            display: block !important; 
            justify-content: center !important;
            margin-left: none !important;
        }
    }
}

@media #{$mobile} {

    .detail__form-header {
        font-size: 1.5rem;
    }

    .detail-form .form-group input {
        padding: 25px 15px !important;

        &::placeholder {
            font-size: 12px !important;
        }
    }

    .detail-form .btn-submit {
        font-size: .8rem;
        padding: 1rem !important;
        margin-top: 1.5rem;
    }

}