@import './theme';

.custom-btn {
    height: auto;
    font-size: 24px;
    background-color: $disableBackground;
    border-radius: 25px !important;
    border: none;
    padding: 8px 25px 8px 25px !important;
    color: $primaryColor;
  
    &:hover,
    &:active,
    &:focus {
      background-color: $btnActiveBackground;
      transition: 0.3s ease-in-out;
      color: $primaryDarkColor;
    }
  
    &.hover-active:hover {
      background-color: $secondaryColor;
      transition: 0.3s ease-in-out;
      color: $whiteColor;
    }
  }
  
  .custom-fab-btn {
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-color: $primaryLightColor;
    border-radius: 50%;
    color: $primaryLightColor;
    margin-left: 15px;
  
    &:hover,
    &:active,
    &:focus {
      transition: 0.1s ease-in;
      border-color: $primaryDarkColor;
      color: $primaryDarkColor;
      background-color: transparent;
    }
  }