@import './theme';

.custom-btn {
    font-size: 16px;
    background-color: $primaryColor;
    border: none;
    padding: 20px 35px !important;
    color: $whiteColor;
  
    &:hover,
    &:active,
    &:focus {
      transition: 0.3s ease-in-out;
      background-color: $primaryColor;
      color: $whiteColor;
    }
  
    &.hover-active:hover {
      background-color: $primaryDarkColor;
      transition: 0.3s ease-in-out;
      color: $whiteColor;
    }

  }